 *.toc
 *.aux
 *.syi
 *.syg
 *.sig
 *.run.xml
 *.lot
 *.lol
 *.synctex.gz
 *.out
 *.lof
 *.lst
 *.glsdefs
 *.glsdefs
 *.glo
 *.glg
 *.blg
 *.bcf
 *.glsdefs
 *.acr
 *.bbl
 *.lst
 *.log
 *.gls
 *.ist
 *.slg
 *.alg
 *.acn
 *.kate-swp
